:root {
    --blue-900: #293855;
    --blue-500: #4265d6;
    --yellow-500: #f2ac20;
    --green-300: #c2e7c9;
}

body {
    font-family: 'Sofia Sans', sans-serif;
    background-color: var(--blue-900);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
}

.creator-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.creator-information {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    max-width: 800px;
    gap: 3em;
}

.creators-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card-container {
    margin: 1em;
    box-sizing: border-box;
    height: 500px;
    width: 35%;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center;
    border: 5px solid;
    border-color: var(--blue-500);
    padding: 5em;
}

.name-icons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons-container {
    display: flex;
    gap: 1em;
}

.creator-username {
    color: var(--yellow-500);
    font-weight: 900;
    font-size: 2em;
    outline-color: #293855;
    text-transform: uppercase;
}

.icons {
    color: var(--green-300);
    font-size: 2em;
}

.img-creator {
    height: auto;
    width: 300px;
    border: 5px solid;
    border-color: var(--blue-500);
    padding: 5em;
}
